:root{
    --global-baby-blue: #DEE8EC;
    --global-back: #101417;
    --global-blue: #6C9BD9;
    --global-blue-marked: #4A8BE1;
    --global-blue-houver: #A2C0E7;
    --global-beige: #D4D7C8;
    --global-light-grey: #CACFD3;
    --global-light-grey-houver: #A9A9A9;
    --global-white: #FFFFFF;
    --global-red-alert: #EB4C46;
    --global-dark-blue: #104892;
    --global-green-sucess: #52FF78;
    --global-yellow-attention: #FCFF69;
}