@import url("../../utils/globals.css");

@font-face {
    font-family: Inter;
    src: url("../../utils/fonts/Inter-VariableFont_slnt,wght.ttf");
}

span{
    font-size: 2vh;
    margin-right: 1vh;
}

h2{
    font-size: 2vh;
}

html,
body {
    margin: 0%;
    padding: 0%;
    font-family: Inter;
    overflow: hidden;
}

hr{
    color: black;
    background-color: black;
    height: 0.1vh;
    border: none;
}

.tituloTexto{
    width: 85vw;
    text-align: center;
}

.titulo{
    width: 85vw;
    display: flex;
    align-items: center;
}

.temas {
    width: 85vw;
    height: 25vh;
    margin-left: 10vw;
    background-color: white;
    border-radius: 1vw;
    box-shadow: 1vh 1vh 5px rgba(0, 0, 0, 0.229);
    /* box-shadow: 10px 5px 5px red; */
}

.suporte {
    margin-top: 10vh;
    width: 85vw;
    height: 17vh;
    margin-left: 10vw;
    background-color: white;
    border-radius: 1vw;
    box-shadow: 1vh 1vh 5px rgba(0, 0, 0, 0.229);
    /* box-shadow: 10px 5px 5px red; */
}

.switch {
    position: relative;
    display: inline-block;
    width: 6vh;
    height: 3.5vh;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.8vh;
    width: 2.5vh;
    left: 0.2vw;
    bottom: 0.2vw;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 0.2vh #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider{
    border-radius: 1vh;
}

.slider:before {
    border-radius: 50%;
}

.temasItens{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1vw;
}

.checkbox{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}

select{
    height: 3vh;
    width: 20vw;
    font-size: 2vh;
}

.suporteItens{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
}

.faq{
    width: 50vw;
    display: flex;
    align-items: center;
}

.faq input{
    height: 3.5vh;
    width: 3.5vh;
    background-image: url("../../utils/assets/seta-direita.png");
    background-color: #6C9BD9;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1vh;
    border: 0px;
}
