@import url("../../utils/globals.css");

@font-face {
    font-family: Inter;
    src: url("../../utils/fonts/Inter-VariableFont_slnt,wght.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Inter;
    overflow: hidden;
}

.container {
    background-color: var(--global-blue);
    position: fixed;
    width: 7%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    transition: width 0.3s ease;
}

.container.expandedContainer {
    width: 11%;
}

.container img {
    width: 45px;
}

.container .line {
    height: 2px;
    width: 95%;
    background-color: var(--global-light-grey);
    border-radius: 3px;
    margin: 10px;
}

.containerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 90%;
    border-radius: 5px;
    margin-bottom: 10%;
    transition: all 0.3s ease;
}

.containerIcon:hover {
    background-color: var(--global-light-grey-houver);
}

.containerIcon img {
    width: 25px;
}

.containerIcon a {
    display: none;
    text-decoration: none;
    color: var(--global-baby-blue);
    font-size: 16px;
    margin-left: 10px;
}

.containerIcon.open a {
    display: inline-block;
}

.containerIcon.leftAlign {
    justify-content: flex-start;
    padding: 1px;
}

.containerNavbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 50%;
}

.containerNavbar .bar {
    height: 3px;
    width: 25px;
    background-color: var(--global-baby-blue);
    border-radius: 3px;
    margin-top: 5px;
}

.navBar {
    display: none;
}

.menuHamburguer {
    display: none;
}

@media screen and (max-width: 1020px) {
    .container {
        display: none;
    }

    .menuHamburguer {
        background-color: var(--global-blue-marked);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 7vw;
        height: 9vh;
        padding: 0.2%;
        border-radius: 5px;
        cursor: pointer;
    }

    .menuHamburguer .bar {
        height: 4px;
        width: 70%;
        background-color: var(--global-baby-blue);
        border-radius: 3px;
        margin: 1px;
    }

    .navBar {
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: var(--global-blue-marked);
        z-index: 1000;
        top: 9vh;
        font-size: 16px;
    }

    .navBar ul {
        list-style-type: none;
        padding: 0;
    }

    .navBar ul li {
        margin: 10px 0;
        border-bottom: 1px solid var(--global-blue-houver);
    }

    .navBar ul li a {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0.8%;
        text-decoration: none;
        color: var(--global-baby-blue);
        align-items: center;
    }

    .navBar ul li a:hover {
        background-color: var(--global-dark-blue);
    }

    .navBar ul li a img {
        width: 20px;
        padding: 5px;
    }

    .navBar.open {
        display: block;
    }
}

@media screen and (max-width: 750px) {
    .menuHamburguer {
        width: 12%;
        height: 7vh;
    }

    .navBar {
        top: 6vh;
        font-size: 12px;
    }

    .navBar ul li a img {
        width: 15px;
        padding: 5px;
    }
}