@import url("../../utils/globals.css");

@font-face {
  font-family: Inter;
  src: url("../../utils/fonts/Inter-VariableFont_slnt,wght.ttf");
}

html,
body {
  margin: 0%;
  padding: 0%;
  font-family: Inter;
  overflow-y: auto;
  overflow-y: visible;
  background-color: var(--global-baby-blue);
}

.container {
  display: flex;
  width: 100%;
}

.containerGeral {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.containerHead {
  width: 100%;
  height: auto;
}

.containerContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.linhaKPI {
  width: 100%;
  height: 35vh;
}

.cardFundo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: var(--global-beige);
  border-radius: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--global-white);
}

.card h1 {
  font-size: 20px;
  margin: 1px;
  color: var(--global-black);
  font-weight: normal;
}

.card hr {
  margin: 0;
  background-color: var(--global-light-grey);
}

.linha {
  display: flex;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.cardGrafico {
  width: 35vw;
  max-width: 35vw;
  height: 100%;
}

.contentKPI {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  padding: 16px;
  width: 100%;
  height: 100%;
}

.contentKPI p {
  font-size: 100px;
  font-weight: bold;
  color: var(--global-black);
}

.contentGrafico {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0px 16px 0px 0px;
}

.contentGraficoPizza {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 40vh;
  padding: 0px 16px 0px 0px;
}

.legenda {
  text-align: left;
}

.legenda p div {
  display: inline-block;
  align-self: center;
  width: 15px;
  height: 15px;
  border: 2px solid #6F7378;
  border-radius: 4px;
  position: relative;
  margin-right: 8px;
}
