@import url("../../utils/globals.css");

@font-face {
  font-family: Inter;
  src: url("../../utils/fonts/Inter-VariableFont_slnt,wght.ttf");
}

*{
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  gap: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

.content {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0rem 1rem;
}

.card {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: var(--global-white);
  border-radius: 10px;
  width: 100%; 
  max-height: calc(93vh - 2rem); 
  padding: 1rem;
  box-shadow: var(--global-box-shadow);
  overflow: hidden; 
  box-sizing: border-box; 
}

.main hr {
  background-color: var(--global-light-grey);
  border: none;
}

.tituloPagina {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--global-white);
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  color: var(--global-black);
}

.tituloPagina p {
  color: var(--global-black);
  font-size: 1rem;
}

.containerFormulario {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 2rem); 
  background-color: var(--global-white);
}

.formulario {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.formLine {
  display: flex;
  gap: 1rem;
}

.formLine#formLine1 {
  flex-direction: column;
}

.formLine#formLine2 {
  justify-content: end;
}

.formulario button {
  width: inherit;
  padding: 0.5rem;
  font-size: 1rem;
}

.imagem {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 10px;
}

