@import url("../../utils/globals.css");

@font-face {
  font-family: Inter;
  src: url("../../utils/fonts/Inter-VariableFont_slnt,wght.ttf");
}

html,
body {
  margin: 0%;
  padding: 0%;
  font-family: Inter;
  overflow-y: auto;
  overflow-y: visible;
  background-color: var(--global-baby-blue);

}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.containerHead {
  width: 100%;
  height: auto;
}

.containerConteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px 0 20px 0;
}

.containerGeral {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--global-white);
  border-radius: 10px;
  width: 95%;
  max-width: 1200px;
  height: 300px;
  padding: 10px;
  margin: 20px 0;
  box-shadow: 4px 4px 8px rgba(0.3, 0.3, 0.3, 0.3);
}

.containerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--global-white);
  width: 100%;
  height: 100%;
  margin-left: 10px;
  border-radius: 10px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.205);
  margin-top: 6px;
}

.containerCard .containerMetrica {
  display: flex;
  align-items: center;

}

.containerCard .containerMetrica img {
  width: 70px;
  height: 70px;
  margin-right: 50px;

}

.containerCard .containerMetrica p {
  font-size: 40px;
}

.containerListas {
  background-color: var(--global-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  max-width: 1200px;
  margin: 20px 0; 
  padding: 20px; 
  text-align: center;
  height: 600px; 
  overflow-y: auto;
  box-shadow: 4px 4px 8px rgba(0.3, 0.3, 0.3, 0.3);
}

.containerKpiHistorico {
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  align-items: flex-start;
  font-size: 11px;
  text-wrap: nowrap;
  padding: 8px 0px 0px 10px;
}

.kpiHistorico {
  width: 12%;
  height: 20px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #6C9BD9;
  margin: 3px;
  padding: 5px 35px 5px 35px;
  border-radius: 10px;
}

.kpiHistorico p {
  color: white;
}

.textoLista {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto; 
  }

  .containerListas {
    width: 100%;
    padding: 10px;
    height: 500px;
  }

  .containerGeral, .containerListas {
    width: 100%;
    margin: 10px 0;
  }

  .containerCard {
    margin-left: 0;
  }

  .kpiHistorico {
    width: auto;
    padding: 5px 10px;
  }

  .containerKpiHistorico {
    font-size: 10px;
    padding: 8px 0px 0px 5px;
  }
}

@media (max-width: 480px) {
  .containerGeral {
    height: auto;
  }

  .containerConteudo {
    margin: 10px 0;
  }

  .kpiHistorico {
    padding: 5px 15px;
    font-size: 9px;
  }

  .containerCard {
    padding: 5px;
  }

  .containerListas {
    height: 650px;
  }

  .kpiHistorico p {
    font-size: 10px;
  }

  .containerMetrica p {
    font-size: 24px;
  }

  .containerMetrica img {
    width: 50px;
    height: 50px;
  }
}