@import url("../../utils/globals.css");

@font-face {
  font-family: Inter;
  src: url("../../utils/fonts/Inter-VariableFont_slnt,wght.ttf");
}

.container {
  background-color: var(--global-baby-blue);
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.container .logo {
  height: 3rem;
  width: auto;
  cursor: pointer;
}

.container .conf {
  height: 2rem;
  width: auto;
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  top: 3.5rem;
  right: 20px;
  width: 20%;
  background-color: var(--global-light-grey);
  padding: 10px;
  border-radius: 5px;
  color: var(--global-black);
}

.menu img {
  width: 20px;
}

.menu.open {
  display: block;
  cursor: pointer;
}

.menu.open:hover {
  background-color: var(--global-light-grey-houver);
}

.menuItem {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.menuItem p {
  color: var(--global-black);
}
