@font-face {
    font-family: Inter;
    src: url("../../utils/fonts/Inter-VariableFont_slnt,wght.ttf");
}

body{
    margin: 0;
    overflow: hidden;
}

.divPrincipal{
    width: 100vw;
    display: flex;
    flex-direction: row;
}

img{
    height: 100vh;
}

.form{
    height: 100vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEE8EC;
}

.form div{
    width: 40vw;
    height: 70vh;
    background-color: #FFFFFF;
    box-shadow: 0.5vb 0.5vb 0.5vb rgba(0, 0, 0, 0.575);
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
}

.form input{
    width: 80%;
    border: solid #CCCCCC 0.1vb;
    border-radius: 1vh;
    margin-left: 1vw;
    height: 3vh;
}

.form p{
    margin-left: 1vw;
    font-family: Inter;
    font-size: 2vh;
}

.form h3{
    font-family: Inter;
    margin-left: 1vw;
    font-size: 3vh;
}

.form button{
    width: 10vw;
    height: 5vh;
    margin-top: 2vh;
    margin-left: 23.5vw;
    color: white;
    background-color: #6C9BD9;
    border: 0;
    border-radius: 1vh;
    font-size: 2vh;
}