@import url("../../utils/globals.css");

@font-face {
  font-family: Inter;
  src: url("../../utils/fonts/Inter-VariableFont_slnt,wght.ttf");
}

html,
body {
  margin: 0%;
  padding: 0%;
  font-family: Inter;
  overflow-y: auto;
  background-color: var(--global-baby-blue);
}

.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.navbarContainer {
  width: fit-content;
}

.containerGeral {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.containerHead {
  width: auto;
}

.containerConteudo {
  box-sizing: border-box;
  padding: 16px 24px;
}

.tituloPagina {
  display: flex;
  flex-direction: column;
  background-color: var(--global-white);
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  padding-top: 6px;
  color: var(--global-black);
  gap: 5px;
}

.tituloPagina p {
  color: var(--global-black);
  font-size: 18px;
}

.tituloPagina hr {
    width: 100%;
    height: 1px;
    margin: 0;
    border: none;
    background-color: #ccc;
}

.containerFormulario {
  display: flex;
  flex-direction: row;
  background-color: var(--global-white);
  border-radius: 0px 0px 10px 10px;
  height: 80vh;
}

.formulario {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 16px 24px;
}

.formLine {
  display: flex;
  gap: 16px;
}

.formLine#formLine7 {
  justify-content: end;
}

.formLine button {
  width: 120px;
  height: 40px;
}

.imagem {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagem img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 10px;
}
