:root {
  --shadow-light: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0px 10px 25px 0px rgba(0, 0, 0, 0.2);
  --shadow-dark: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.containerModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 400px;
  width: 40vw;
  height: 100vh;
  background-color: var(--global-baby-blue);
  overflow-y: auto;
}

.modal p {
  color: black !important;
}

.modal b {
  font-size: 14px;
}

.modal div {
  display: flex;
}

.modal .modalHeader {
  justify-content: end;
  width: 100%;
  padding: 10px 10px;
  border-bottom: solid 1px var(--global-black);
}

.modal .modalHeader .iconFechar {
  height: 25px;
  width: auto;
  cursor: pointer;
}

.line {
  padding: 0px 16px;
}

.modal .icon {
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
}

.background {
  padding: 16px;
  box-shadow: var(--shadow-medium);
  flex-direction: column;
  gap: 16px;
  background-color: var(--global-beige);
  width: 100%;
  border-radius: 10px;
}

.content {
  flex-direction: column;
  box-shadow: var(--shadow-light);
  background-color: var(--global-white);
  width: 100%;
  padding: 0px;
  border-radius: 10px;
}

.titulo {
  padding: 0px;
  justify-content: center;
  border-bottom: 1px solid var(--global-light-grey);
}

.titulo h1 {
  padding: 0px;
  font-size: 16px;
  font-weight: normal;
}

.coluna {
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.coluna .descricao {
  padding-left: 1em;
}

.coluna p {
  text-align: left;
}

.informacoes {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 16px;
}

.informacoes .containerInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.informacoes .containerInfo .info {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
}

.informacoes .containerInfo .info:last-child {
  align-self: flex-end;
}

.informacoes button {
  width: 100%;
}

.contato .info {
  margin-top: 1vh;
}

@media (max-width: 400px) {
  .modal {
    min-width: auto;
    width: 100vw;
  }

  .modal .icon {
    width: 20%;
  }

  .modal b {
    font-size: 12px;
  }
}
