:root {
  --global-baby-blue: #dee8ec;
  --global-black: #101417;
  --global-blue: #6c9bd9;
  --global-blue-marked: #4a8be1;
  --global-blue-houver: #a2c0e7;
  --global-beige: #f5f5dc;
  --global-grey: #dddcdc;
  --global-darker-grey: #585858;
  --global-light-grey: #cacfd3;
  --global-light-grey-houver: #a9a9a9;
  --global-white: #ffffff;
  --global-red-alert: #eb4c46;
  --global-dark-blue: #104892;
  --global-green-sucess: #52ff78;
  --global-yellow-attention: #fcff69;

  --global-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.25); 
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

hr {
  border: none;
  height: 1px;
}
