@import url("../../utils/globals.css");

@font-face {
  font-family: Inter;
  src: url("../../utils/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

.linhaDoacao {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
}

.linhaDoacao:hover {
  background-color: var(--global-light-grey);
}

.linhaDoacao img {
  width: 4rem;
  height: 4rem;
}

.linhaDoacao * {
  font-size: 1rem;
}

.linhaDoacao .texto p {
  font-size: 1rem;
}

.linhaDoacao .texto b {
  font-size: 1.5rem;
}

.linhaDoacao .esq {
  display: flex;
  flex: 1;
  gap: 1rem;
}
