@import url("../../utils/globals.css");

@font-face {
  font-family: Inter;
  src: url("../../utils/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

html,
body {
  margin: 0%;
  padding: 0%;
  font-family: Inter;
  overflow-y: auto;
}

.container p {
  margin: 0;
  font-size: 12px;
  color: var(--global-darker-grey);
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}

.container:hover {
  background-color: var(--global-grey);
  color: var(--global-black);
  cursor: pointer;
}

.container:hover p {
  color: var(--global-black);
}

.container span {
  font-weight: 700;
  font-size: 20px;
}

.donatarioDetalhes {
  display: flex;
  width: 100%;
  gap: 16px;
}

.iconContainer {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: flex-end;
}

.iconContainer img {
  height: 35px;
  width: auto;
}

.contentContainer {
  display: flex;
  width: 50%;
  flex-direction: column;
  text-align: left;
}

.detalhesExtras {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}

.containerNonClick {
  padding: 16px 24px;
}

.containerNonClick .contentContainer {
  width: 100%;
}

@media (max-width: 950px) {
  .detalhesExtras {
    display: none;
  }

  .contentContainer {
    width: 100%;
  }
}
