@import url("../../../utils/globals.css");

@font-face {
  font-family: Inter;
  src: url("../../../utils/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

html,
body {
  margin: 0%;
  padding: 0%;
  font-family: Inter;
  overflow-y: auto;
}

p {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}

span {
  font-weight: 700;
  font-size: 20px;
}

p {
  font-size: 12px;
  color: var(--global-light-grey-houver);
}

.donatarioDetalhes {
  display: flex;
  width: 50%;
  gap: 16px;
}

.iconContainer {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: flex-end;
}

.iconContainer img {
  height: auto;
  width: auto;
}

.enderecoDetalhes {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

@media (max-width: 950px) {
  .enderecoDetalhes {
    display: none;
  }
}
