body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* NossaHistoria.module.css */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3E7E2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3E7E2;
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

.image {
    /* flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; */
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.text {
    flex: 1;
    padding: 20px;
    color: #333;
    background-color: white;
}

.text h1 {
    color: #2e7d32;
    margin-bottom: 20px;
}

.text h2 {
    color: #2e7d32;
    margin-bottom: 10px;
}

.text h3 {
    color: #333;
    text-decoration: none;
}

